In [16]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn import preprocessing

In [3]:
AWsales = pd.read_csv('./archive/AWSales.csv')

In [4]:
print(pd.isna(AWsales))

       CustomerID  BikeBuyer  AvgMonthSpend
0           False      False          False
1           False      False          False
2           False      False          False
3           False      False          False
4           False      False          False
...           ...        ...            ...
18350       False      False          False
18351       False      False          False
18352       False      False          False
18353       False      False          False
18354       False      False          False

[18355 rows x 3 columns]

In [5]:
AWCustomers = pd.read_csv('./archive/AWCustomers.csv')
print(pd.isna(AWCustomers))

       CustomerID  Title  FirstName  MiddleName  LastName  Suffix  \
0           False   True      False       False     False    True
1           False   True      False        True     False    True
2           False   True      False        True     False    True
3           False   True      False        True     False    True
4           False   True      False       False     False    True
...           ...    ...        ...         ...       ...     ...
18356       False   True      False       False     False    True
18357       False   True      False        True     False    True
18358       False   True      False        True     False    True
18359       False   True      False       False     False    True
18360       False   True      False        True     False    True

       AddressLine1  AddressLine2   City  StateProvinceName  ...  Education  \
0             False          True  False              False  ...      False
1             False          True  False              False  ...      False
2             False          True  False              False  ...      False
3             False          True  False              False  ...      False
4             False          True  False              False  ...      False
...             ...           ...    ...                ...  ...        ...
18356         False          True  False              False  ...      False
18357         False          True  False              False  ...      False
18358         False          True  False              False  ...      False
18359         False          True  False              False  ...      False
18360         False          True  False              False  ...      False

       Occupation  Gender  MaritalStatus  HomeOwnerFlag  NumberCarsOwned  \
0           False   False          False          False            False
1           False   False          False          False            False
2           False   False          False          False            False
3           False   False          False          False            False
4           False   False          False          False            False
...           ...     ...            ...            ...              ...
18356       False   False          False          False            False
18357       False   False          False          False            False
18358       False   False          False          False            False
18359       False   False          False          False            False
18360       False   False          False          False            False

       NumberChildrenAtHome  TotalChildren  YearlyIncome  LastUpdated
0                     False          False         False        False
1                     False          False         False        False
2                     False          False         False        False
3                     False          False         False        False
4                     False          False         False        False
...                     ...            ...           ...          ...
18356                 False          False         False        False
18357                 False          False         False        False
18358                 False          False         False        False
18359                 False          False         False        False
18360                 False          False         False        False

[18361 rows x 24 columns]

In [6]:
#Cleaning the data
AWCustomers=AWCustomers.drop(['Suffix','Title','FirstName','LastName'],axis=1)
AWCustomers

,CustomerID,MiddleName,AddressLine1,AddressLine2,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,C,7090 C. Mount Hood,NaN,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,1987-11-13,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,1972-07-21,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,United States,91791,120-555-0111,1985-11-09,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,2103 Baldwin Dr,NaN,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,1977-10-18,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,J,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,1975-02-05,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,C,6627 Camelback Ct.,NaN,Coronado,California,United States,92118,292-555-0130,1990-11-11,Graduate Degree,Skilled Manual,F,M,0,1,0,2,52953,2017-03-06
18357,11459,NaN,9627 Kendall Rd,NaN,Port Macquarie,New South Wales,Australia,2444,1 (11) 500 555-0171,1992-10-13,Bachelors,Skilled Manual,F,S,0,2,0,0,60992,2017-03-06
18358,12160,NaN,4364 Viera Avenue,NaN,Beaverton,Oregon,United States,97005,819-555-0110,1983-11-24,Partial College,Skilled Manual,F,S,0,2,0,0,51859,2017-03-06
18359,14353,I,3866 Mt. Everest Court,NaN,Vancouver,British Columbia,Canada,V7L 4J4,791-555-0118,1995-06-15,High School,Clerical,F,S,0,0,0,0,87177,2017-03-06
18360,16676,NaN,7870 Orangewood Dr.,NaN,Grossmont,California,United States,91941,553-555-0122,1986-03-26,Graduate Degree,Professional,F,M,1,2,0,0,136856,2017-03-06

In [7]:
AWCustomers['MiddleName'] = AWCustomers['MiddleName'].fillna(AWCustomers['MiddleName'].mode()[0])

In [8]:
AWCustomers

,CustomerID,MiddleName,AddressLine1,AddressLine2,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,C,7090 C. Mount Hood,NaN,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,1987-11-13,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,A,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,1972-07-21,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,A,1774 Tice Valley Blvd.,NaN,West Covina,California,United States,91791,120-555-0111,1985-11-09,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,A,2103 Baldwin Dr,NaN,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,1977-10-18,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,J,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,1975-02-05,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,C,6627 Camelback Ct.,NaN,Coronado,California,United States,92118,292-555-0130,1990-11-11,Graduate Degree,Skilled Manual,F,M,0,1,0,2,52953,2017-03-06
18357,11459,A,9627 Kendall Rd,NaN,Port Macquarie,New South Wales,Australia,2444,1 (11) 500 555-0171,1992-10-13,Bachelors,Skilled Manual,F,S,0,2,0,0,60992,2017-03-06
18358,12160,A,4364 Viera Avenue,NaN,Beaverton,Oregon,United States,97005,819-555-0110,1983-11-24,Partial College,Skilled Manual,F,S,0,2,0,0,51859,2017-03-06
18359,14353,I,3866 Mt. Everest Court,NaN,Vancouver,British Columbia,Canada,V7L 4J4,791-555-0118,1995-06-15,High School,Clerical,F,S,0,0,0,0,87177,2017-03-06
18360,16676,A,7870 Orangewood Dr.,NaN,Grossmont,California,United States,91941,553-555-0122,1986-03-26,Graduate Degree,Professional,F,M,1,2,0,0,136856,2017-03-06

In [9]:
AWCustomers['CustomerID'].is_unique

False

In [10]:
AWCustomers.drop_duplicates(subset='CustomerID',keep=False,inplace=True)

In [11]:
AWCustomers['CustomerID'].is_unique

True

In [12]:
AWCustomers['AddressLine2'] = AWCustomers['AddressLine2'].fillna(0)

In [13]:
AWsales['CustomerID'].is_unique

True

In [14]:
mergedDF = pd.merge(left=AWsales,right=AWCustomers,on='CustomerID')

In [15]:
mergedDF
mergedDF.to_csv("AWsalesMergedAWcustomers.csv")

In [36]:
scaler = preprocessing.MinMaxScaler()
AWCustomersCopy = mergedDF.copy()
AWCustomersCopy['YearlyIncome'] = scaler.fit_transform(np.array(AWCustomersCopy['YearlyIncome']).reshape(-1,1))
AWCustomersCopy['NumberCarsOwned'] = scaler.fit_transform(np.array(AWCustomersCopy['NumberCarsOwned']).reshape(-1,1))

In [33]:
labelEncoder = preprocessing.LabelEncoder()
AWCustomersCopy['MaritalStatus']=labelEncoder.fit_transform(AWCustomersCopy['MaritalStatus'])
AWCustomersCopy['Gender']=labelEncoder.fit_transform(AWCustomersCopy['Gender'])
AWCustomersCopy

,CustomerID,BikeBuyer,AvgMonthSpend,MiddleName,AddressLine1,AddressLine2,City,StateProvinceName,CountryRegionName,PostalCode,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,1,50.97,C,7090 C. Mount Hood,0,Wollongong,New South Wales,Australia,2500,...,Bachelors,Clerical,1,0,1,3,0,1,0.496842,2017-03-06
1,13249,1,53.11,A,3651 Willow Lake Rd,0,Shawnee,British Columbia,Canada,V9B 2C3,...,Partial College,Clerical,1,0,1,2,1,2,0.489453,2017-03-06
2,29350,1,54.08,A,1774 Tice Valley Blvd.,0,West Covina,California,United States,91791,...,Bachelors,Clerical,0,1,0,3,0,0,0.536172,2017-03-06
3,13503,1,56.93,A,2103 Baldwin Dr,0,Liverpool,England,United Kingdom,L4 4HB,...,Partial College,Skilled Manual,1,0,1,2,1,2,0.317083,2017-03-06
4,22803,1,55.41,J,Am Gallberg 234,0,Werne,Nordrhein-Westfalen,Germany,59368,...,Partial College,Skilled Manual,1,1,1,1,0,0,0.231958,2017-03-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18344,25414,0,48.14,C,6627 Camelback Ct.,0,Coronado,California,United States,92118,...,Graduate Degree,Skilled Manual,0,0,0,1,0,2,0.242065,2017-03-06
18345,11459,1,50.23,A,9627 Kendall Rd,0,Port Macquarie,New South Wales,Australia,2444,...,Bachelors,Skilled Manual,0,1,0,2,0,0,0.312781,2017-03-06
18346,12160,1,49.56,A,4364 Viera Avenue,0,Beaverton,Oregon,United States,97005,...,Partial College,Skilled Manual,0,1,0,2,0,0,0.232442,2017-03-06
18347,14353,0,51.42,I,3866 Mt. Everest Court,0,Vancouver,British Columbia,Canada,V7L 4J4,...,High School,Clerical,0,1,0,0,0,0,0.543121,2017-03-06
18348,16676,1,52.27,A,7870 Orangewood Dr.,0,Grossmont,California,United States,91941,...,Graduate Degree,Professional,0,0,1,2,0,0,0.980128,2017-03-06

In [37]:
bin_lables=['Low','Medium','High']
cut_bins=[0,0.33,0.66,1.0]
AWCustomersCopy['YearlyIncome']=pd.cut(AWCustomersCopy['YearlyIncome'],bins=cut_bins,labels=bin_lables)
AWCustomersCopy['NumberCarsOwned']=pd.cut(AWCustomersCopy['NumberCarsOwned'],bins=cut_bins,labels=bin_lables)
AWCustomersCopy

,CustomerID,BikeBuyer,AvgMonthSpend,MiddleName,AddressLine1,AddressLine2,City,StateProvinceName,CountryRegionName,PostalCode,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,1,50.97,C,7090 C. Mount Hood,0,Wollongong,New South Wales,Australia,2500,...,Bachelors,Clerical,M,M,1,Medium,0,1,Medium,2017-03-06
1,13249,1,53.11,A,3651 Willow Lake Rd,0,Shawnee,British Columbia,Canada,V9B 2C3,...,Partial College,Clerical,M,M,1,Medium,1,2,Medium,2017-03-06
2,29350,1,54.08,A,1774 Tice Valley Blvd.,0,West Covina,California,United States,91791,...,Bachelors,Clerical,F,S,0,Medium,0,0,Medium,2017-03-06
3,13503,1,56.93,A,2103 Baldwin Dr,0,Liverpool,England,United Kingdom,L4 4HB,...,Partial College,Skilled Manual,M,M,1,Medium,1,2,Low,2017-03-06
4,22803,1,55.41,J,Am Gallberg 234,0,Werne,Nordrhein-Westfalen,Germany,59368,...,Partial College,Skilled Manual,M,S,1,Low,0,0,Low,2017-03-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18344,25414,0,48.14,C,6627 Camelback Ct.,0,Coronado,California,United States,92118,...,Graduate Degree,Skilled Manual,F,M,0,Low,0,2,Low,2017-03-06
18345,11459,1,50.23,A,9627 Kendall Rd,0,Port Macquarie,New South Wales,Australia,2444,...,Bachelors,Skilled Manual,F,S,0,Medium,0,0,Low,2017-03-06
18346,12160,1,49.56,A,4364 Viera Avenue,0,Beaverton,Oregon,United States,97005,...,Partial College,Skilled Manual,F,S,0,Medium,0,0,Low,2017-03-06
18347,14353,0,51.42,I,3866 Mt. Everest Court,0,Vancouver,British Columbia,Canada,V7L 4J4,...,High School,Clerical,F,S,0,NaN,0,0,Medium,2017-03-06
18348,16676,1,52.27,A,7870 Orangewood Dr.,0,Grossmont,California,United States,91941,...,Graduate Degree,Professional,F,M,1,Medium,0,0,High,2017-03-06

In [40]:
Countries=AWCustomersCopy['CountryRegionName'].unique()
Countries
Education=AWCustomersCopy['Education'].unique()
Education

array(['Bachelors', 'Partial College', 'High School', 'Graduate Degree',
       'Partial High School'], dtype=object)